 
body,div{
    margin: 0;
}
.container{
    padding: 10px 10px;
}
.container h1{
    text-align: center;
}
.box{
    width: calc(33.33% - 20px);
    float: left;
    margin: 0 10px;
    box-sizing: border-box;
    background: #999;
    border: 2px solid #000;
}
.box h2{
    margin: 0;
    float: right;
    font-size: 18px;
    letter-spacing: 1px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 0 15px;
}
.box p{
    padding: 0 20px;
    clear: both;
}
.h2bg-color-1{
    background: #cc0;
}
.h2bg-color-2{
    background: rgb(61, 0, 204);
}
.h2bg-color-3{
    background: rgb(204, 31, 0);
}
@media screen and (max-width: 767px) {
    .box{
        width: 100%;
        margin-bottom: 20px;    
    }  
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .box{
        width: calc(50% - 20px);
    }
    .last-box{
        width:100%;
        margin-top: 20px;
    }  
}
